%container{
    display: grid;
    grid-template-columns: 5% 1fr 5%;
    grid-template-rows: auto auto;
}
.container{
@include mediaQuery(ipad){
    height: 100vh;
    display:grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    grid-template-rows: 20px auto 100px auto auto 100px;
}
}

.container{
@include mediaQuery(escritorio){
    height: 100vh;
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    grid-template-rows: 50px 100px auto 50px;
}
}