//-zona logotipo
header.header
    label.header__label(for="click")
        img.label__img(src="assets/img/svg/menu_hamburguesa.svg")
    input(type="checkbox" id="click")

    //-MENU NAV

    nav.header__menu
        ul.menu__links
            li
                a.menu__enlace(href="") Inicio
            li
                a.menu__enlace(href="") Quienes Somos
            li
                a.menu__enlace(href="") Contactar
    

    

