main.main
    h1.main__titulo SOFA
    p.main__texto Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lacus tincidunt felis lacus, consequat, proin mauris, turpis eu neque. Adipiscing sem ut nulla eleifend amet. Quis enim, nascetur ultrices id malesuada tellus amet, mauris vestibulum. Elit varius volutpat tempor vitae in. Malesuada mi id mi justo enim blandit id lorem. Mattis pellentesque egestas placerat quis ornare integer scelerisque ornare. Varius risus praesent commodo suspendisse pretium aliquet. Malesuada pulvinar turpis tortor libero mauris. Lectus a vitae eros, id at habitant. In quisque sed sit eu. Nulla convallis at platea orci purus augue id nullam. Nulla tellus turpis posuere lorem pellentesque at. Amet, pharetra urna hendrerit quam tellus.sed eleifend turpis iaculis commodo mauris. Diam, in ut eu nec. Elementum sed sit mauris aliquam sit arcu dignissim. Ante purus at netus leo. Nullam risus magna varius in hac quis turpis eu. Eget odio dolor eu nisi. Nec.
section.main__sectionSofa
    img.sofa__movil(src="../assets/img/mobil/sofaMobil.png")
    img.sofa__movil02(src="../assets/img/mobil/sofaMobil02.png")
    a.sectionSofa__contactar(href="") Contactar

    