
//-ZONA MIXIN PICTURES
include ../mixins/mixin_peke
include ../mixins/mixin_pictureBig
include ../mixins/mixin_completo

<!DOCTYPE html>
html(lang="es")
    //-HEAD
    include head.pug
    //-BODY    
    body
        //- MAIN SEO - Contenido important